.dataTables_paginate .paginate_disabled_previous,
.dataTables_paginate .paginate_disabled_next {
    cursor: default;
}

.directory_column_wrap {
    word-wrap: break-word;
}

.directory_column_cutoff {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.datatable {
    table-layout:fixed;
}